In [1]:
import yfinance as yf
import numpy as np
import matplotlib.pyplot as plt
import math
import pandas as pd

## A ideia aqui é criar um dataframe pandas em que cada coluna é uma criptomoeda, cada linha é um dia e cada elemento da tabela é o valor daquela criptomoeda naquele dia

In [2]:
cryptos = [
    'BTC-USD', 'ETH-USD', 'XRP-USD', 'LTC-USD', 'BCH-USD', 'ADA-USD',
    'DOT-USD', 'LINK-USD', 'DOGE-USD','SOL-USD',
    'TRX-USD', 'XLM-USD', 'AVAX-USD', 'FIL-USD', 'XTZ-USD', 'EOS-USD'
]

data = {}
for crypto in cryptos:
    df = yf.download(crypto, start='2010-01-01', end='2022-12-31')
    data[crypto] = df['Close']

df = pd.DataFrame(data)
df.reset_index(inplace=True)
df.rename(columns={'Date': 'date'}, inplace=True)
df.to_csv('cryptos_prices.csv', index=False)

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

In [3]:
df

,date,BTC-USD,ETH-USD,XRP-USD,LTC-USD,BCH-USD,ADA-USD,DOT-USD,LINK-USD,DOGE-USD,SOL-USD,TRX-USD,XLM-USD,AVAX-USD,FIL-USD,XTZ-USD,EOS-USD
0,2014-09-17,457.334015,NaN,NaN,5.058550,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2014-09-18,424.440002,NaN,NaN,4.685230,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2014-09-19,394.795990,NaN,NaN,4.327770,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2014-09-20,408.903992,NaN,NaN,4.286440,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2014-09-21,398.821014,NaN,NaN,4.245920,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3022,2022-12-26,16919.804688,1226.974365,0.365723,70.684746,103.384392,0.265297,4.572048,6.037669,0.075783,11.306611,0.054552,0.075192,11.723856,3.003352,0.795761,0.887621
3023,2022-12-27,16717.173828,1212.791626,0.368126,68.747910,101.691376,0.260370,4.480313,5.899226,0.073724,11.085430,0.054106,0.074137,11.646396,3.070625,0.772196,0.895822
3024,2022-12-28,16552.572266,1189.986084,0.356531,66.339066,99.176765,0.248378,4.282459,5.676936,0.070381,9.755906,0.054145,0.071779,11.202914,2.993836,0.737330,0.871056
3025,2022-12-29,16642.341797,1201.595337,0.342846,66.751076,98.400665,0.244140,4.310528,5.603008,0.071042,9.651783,0.054014,0.072032,10.992695,2.979429,0.725145,0.865595
3026,2022-12-30,16602.585938,1199.232788,0.345017,67.994034,96.646339,0.245557,4.323476,5.467445,0.068404,9.880177,0.054374,0.072343,10.870249,2.972994,0.722863,0.862902